:root {
  --section-hight: 650px;
  --peach-fuzz: #FFBE98;


  --first: #062925;
  --second: #044A42;
  --third: #3A9188;
  --fourth: #B8E1DD;
}

body {
  background: url(assets/background_image.jpg) rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media(max-width:991px) {
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}